// base styles to be applied to the whole site. 

body {
    @include font-body();
    background-color: $wrapper;


    h1 {
        @include font-header();
    }

    h2 {
        @include font-header($fs: 1.5em, $color: $dark-gray, $lh: 1.5em, $ls: 1.2);

        @media screen and (max-width: $phoneLandscape) {
            @include font-header($fs: 1.2em);
        }
    }

    h3 {
        @include font-header($fs: 1.2em);

        @media screen and (max-width: $phoneLandscape) {
            @include font-header($fs: 1em);
        }
    }
}

.wrapper {
    max-width: 1200px;
    background-color: $off-white;
    margin: 0 auto;
}

