// base styles to be applied to the whole site. 

body {
    @include font-body();
    background-color: $wrapper;


    h1 {
        @include font-header();
    }

    h2 {
        @include font-header($fs: 1.2rem, $color: $dark-gray, $lh: 1.5rem, $ls: 1.2);
    }
}

.wrapper {
    max-width: 1200px;
    background-color: $off-white;
    margin: 0 auto;
}

