header {
    background: $banner-blue;
    position: relative;

    img {
        position: absolute;
        top: 40%;
        left: 4%;
        z-index: 100;
    }

    @media screen and (max-width: $phonePortrait) {
        .header-row {
            display: flex;
            justify-content: space-between;
        }

        img {
            position: initial;
            height: 60px;
            margin-left: 4%;
            margin-top: 4%;
        }
    }
}