.home-page {
    display: flex;
    flex-direction: column;
    // banner styling
    .banner {
        position: relative;
        text-align: center;

        h1 {
            @include font-header($fs: 3rem, $color: $white, $lh: 1.5rem);
            text-shadow: 1px 1px 5px $dark-gray;
        }

        .header-1 {
            position: absolute;
            top: 10%;
            right: 16%;        
        }

        .header-2 {
            position: absolute;
            top: 25%;
            right: 12%;
        }

        @media screen and (max-width: $tabletLandscape) {
            h1 {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: $phoneLandscape) {
            h1 {
                font-size: 1.5rem;
            }
            .header-1 {
                right: 10%;
            }
            .header-2 {
                right: 8%;
            }
        }

        @media screen and (max-width: $phonePortrait) {
            h1 {
                font-size: 1rem;
            }
        }
    }

    .intro {
        max-width: 950px;
        padding: $desktop-padding-section .5em;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
                    "header sidebar"
                    "details sidebar"
                    "advantage sidebar";
        grid-column-gap: 2em;
        grid-row-gap: 2em;

        @media screen and (max-width: 715px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: $tablet-padding-section;
            padding-bottom: $tablet-padding-section;
        }
    }

    .intro-header {
        grid-area: header;
        text-align: center;

        h2 {
            margin-top: 0;
            span {
                color: $red;
            }
        }

        p {
            font-size: 1.2rem;
        }

        @media screen and (max-width: $phonePortrait) {
            p {
                font-size: 1em;
            }
        }
    }

    .skills {
        @include shadow();
        grid-area: details;
        display: grid;
        grid-template-areas: 
                    "header header"
                    "left right"
                    ". outcome";

        h3 {
            grid-area: header;
            text-align: center;

            span {
                color: $yellow;
            }
        }

        .left,
        .right {
            justify-self: center;
        }

        .left {
            grid-area: left;
        }

        .right {
            grid-area: right;
        }

        .outcomes {
            grid-area: outcome;
            padding: 0 0 1rem;
            justify-self: right;
            margin-right: 1rem;

            a {
                display: inline-block;
                padding: .5em;
                @include shadow();
                color: $dark-gray;
                text-decoration: none;
            }

            a:hover,
            a:focus,
            a:active {
                cursor: pointer;
                color: $yellow;
            }
        }

        @media screen and (max-width: 715px) {
            width: 450px;
            margin-bottom: 2em;
        }

        @media screen and (max-width: 470px) {
            width: 410px;
            .left li,
            .right li {
                font-size: 0.9em;
            }
        }

        @media screen and (max-width: $phonePortrait) {
            width: initial;
            border: none;
            box-shadow: none;

            grid-template-areas: 
            "header header"
            "left right"
            "outcome outcome";
        }
    }

    .advantage {
        grid-area: advantage;
        display: flex;
        flex-direction: column;
        @include shadow();

        h3 {
            text-align: center;

            span {
                color: $yellow;
            }
        }

        .btn {
            align-self: flex-end;
            margin-right: 1rem;
            padding: 0 0 1rem;
            a {
                display: inline-block;
                padding: .5em;
                @include shadow();
                color: $dark-gray;
                text-decoration: none;
            }

            a:hover,
            a:focus,
            a:active {
                cursor: pointer;
                color: $yellow;
            }
        }
        @media screen and (max-width: 715px) {
            width: 450px;
            margin-bottom: 2em;
            align-items: center;

            ul {
                padding-left: 0;
            }
        }

        @media screen and (max-width: 470px) {
            margin-bottom: 0;
            width: 410px;

            ul {
                list-style: none;
            }

            li {
                font-size: 0.9em;
            }
        }

        @media screen and (max-width: $phonePortrait) {
            width: initial;
            border: none;
            box-shadow: none;
        }
    }

    .secondary-nav {
        grid-area: sidebar;
        justify-self: right;
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: rgba($banner-blue, 0.15);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        h2 {
            padding-left: 1rem;
            background: $banner-blue;
            padding: .5em;
            color: $font-blue;
            margin: 0;
        }

        li {
            background: $font-blue;
            margin: 0;
            padding: .5rem .5rem .5rem 1rem;
            border-bottom: 1px solid $off-white;
        }

        a {
            text-decoration: none;
            color: $dark-gray;
            cursor: pointer;
        }

        a:hover,
        a:focus,
        a:active {
            color: $yellow;
        }

        .prereq {
            border: 1px solid $dark-gray;
            margin: 1rem;
            background: $off-white;

            h3 {
                color: $red;
                text-align: center;
            }

            p {
                padding: 0 0 0 1rem;
                margin: 0;
            }

            p:nth-of-type(even) {
                font-style: italic;
            }

            p:last-of-type {
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                color: $red;
                font-weight: $fw-b;
            }

            a:hover,
            a:active,
            a:focus {
                color: $dark-gray;
            }
        }
        .register-btn {
            margin-bottom: 1rem;
            margin-right: 1rem;
            align-self: flex-end;
            
            
            a {
                display: inline-block;
                padding: .5rem;
                background: $red;
                color: $off-white;
                @include shadow();
                border: 1px solid $off-white;
            }
        }
        @media screen and(max-width: 715px) {
            display: none;
        }
    }

    .secondary-nav-mobile {
        display: none;

        @media screen and(max-width: 715px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: $tablet-padding-section;

            .prereq {
                border: 1px solid $dark-gray;
                margin: 1rem;
                background: $off-white;
                width: 300px;
    
                h3 {
                    color: $red;
                    text-align: center;
                }
    
                p {
                    padding: 0 0 0 1rem;
                    margin: 0;
                }
    
                p:nth-of-type(even) {
                    font-style: italic;
                }
    
                p:last-of-type {
                    margin-bottom: 1rem;
                }
    
                a {
                    text-decoration: none;
                    color: $red;
                    font-weight: $fw-b;
                }
    
                a:hover,
                a:active,
                a:focus {
                    color: $dark-gray;
                }
            }

            ul {
                list-style: none;
                padding-left: 0;
                background: $font-blue;
                width: 420px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and(max-width: $phonePortrait) {
                    width: 95%;
                }
            }

            li {
                width: 100%;
                text-align: center;
                padding: 1em;
                border-bottom: 1px solid $off-white;
            }

            a {
                text-decoration: none;
                color: $dark-gray;
                cursor: pointer;
            }

            a:hover,
            a:active,
            a:focus {
                color: $yellow;
            }
            .register-btn {
                
                a {
                    display: inline-block;
                    padding: .5em 1em;
                    background: $red;
                    color: $off-white;
                    @include shadow();
                }
            }
        }
    }

    .employment {
        background: $banner-blue;
        color: $font-blue;
        padding: $tablet-padding-section 15%;
        display: flex;
        flex-direction: column;
        

        h2 {
            span {
                color: $yellow;
            }
            text-align: center;
        }

        .content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            a {
                display: inline-block;
                align-self: flex-end;
                background: $red;
                padding: .5em;
                color: $off-white;
                text-decoration: none;
                border: 1px solid $off-white;
                @include shadow();
            }
        }

        @media screen and (max-width: $tabletPortrait) {
            padding: 1.5em 5%;
        }
    }
    .description {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 4rem 1em;

        h2 {
            text-align: center;
        }
        
        li {
            margin-bottom: .5rem;
        }

        @media screen and(max-width: $tabletLandscape) {
            padding: $tablet-padding-section 1em;
        }
    }
}



