nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 80px;
    }

    li {
        width: 120px;
    }

    a {
        display: block;
        @include font-body($fs: 1.2rem, $color: $white, $lh: 1.5rem);
        text-decoration: none;
    }

    .login {
        color: $yellow;
    }

    a:hover,
    a:focus,
    a:active {
        cursor: pointer;
        color: $yellow;
    }
    
    @media screen and (max-width: $phonePortrait) {
        $border: 1px solid $dark-gray;
        width: 100%;
        padding-bottom: 1em;
        display: none;
        border-bottom: $border;
        z-index: 150;
        background: rgba($dark-gray, 0.5);

        ul {
            display: block;
            z-index: 150;
            height: auto;
        }

        li {
            width: 100%;
        }

        a {
            border-bottom: $font-blue;
            line-height: 60px;
            text-align: center;
        }

        a:hover,
        a:focus,
        a:active {
            background: $font-blue;
            color: $dark-gray;
        }

        .show & {
            display: block;
        }
    }
}