// we can put variables here for the common breakpoints

// Media Query Breakpoints
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px;
$phonePortrait: 420px;