// color variables for the site. I find it easier to have colors
// in one place

// page white, wrapper color on desktop & font white
$white: #ffffff;

// font color when background is blue
// color of home page secondary nav li a
// body background for desktop
$font-blue: #E0E4E7;

// font color for red buttons
$off-white: #F7FAFB;

// font color with white background
$dark-gray: #2C2C2C;

$red: #721817;
$yellow: #FAA916;

// main banner color. 
// color of secondary nav background with an opacity of 15%
$banner-blue: #005385;
// dark blue font
$dark-blue-font: #003760;

//main banner color an opacity of 0.5
$banner-lt-blue: rgba($banner-blue, 0.5);

//sub-nav background colour
$sub-nav-lt-blue: $font-blue;

$wrapper: #d6d8db;
